body{
	background-color: #c6e5b1;
	text-align: center;
	justify-content: center;
} 

p{
	font-family: cursive;
	color: dark;
	font-size: 22px;
}

h1{
	font-size: 52px;
	font-family: cursive;
}

h4{
	font-family: cursive;
}

h3{
	font-family: cursive;
}

p{
	font-size: 22px;
	margin: 20px 5%;

}

img{
	width: 40%;
}